:root{
    --accent: rgb(86, 126, 187);
    --lightaccent: rgb(120, 192, 238);
    --gradienttime:15s;
}
@keyframes AnimationName {
    0% {
      background-position: calc(100vw/sin(90deg)) 0;
    }
  }

  @keyframes AnimationName2 {
    0% {
      background-position: calc(100vw/sin(90deg)) 0;
    }
  }
.grid{
    display:grid;
    grid-template-columns:auto auto auto auto auto auto auto auto auto auto;
    padding:50px;
}
.grid div{
    height:70px;
    background: repeating-linear-gradient(90deg, var(--lightaccent), #4c16ff, #ffd035, #52ff34, #28fbff, var(--lightaccent) 100vw);
    background-size: calc(100vw/sin(90deg)) 100%;
    animation: AnimationName var(--gradienttime) linear infinite reverse;
    overflow:hidden;
}