*{
    margin:0;
    padding: 0;	
    max-width:100vw;
    /* overflow-x:hidden; */
    /* border:solid red 1px; */
    scroll-behavior:smooth;
    line-height:1.25;
    font-display:swap;
}

.wholepagedark{
    animation: bg .5s ease-in;
    animation-iteration-count:1;
    animation-fill-mode:both;
    background-size:1% .5%;
    background-image: linear-gradient(var(--gridcolor) 0.5px, transparent 0.5px, transparent calc(100% - 0.5px), var(--gridcolor) calc(100% - 0.5px)), linear-gradient(90deg, var(--gridcolor) 0.5px, transparent 0.5px, transparent calc(100% - 0.5px), var(--gridcolor) calc(100% - 0.5px));
}

.wholepagelight{
    animation:bgreverse .5s ease-out;
    animation-iteration-count:1;
    animation-fill-mode:both;
    background-size:1% .5%;
    background-image: linear-gradient(var(--gridcolor) 0.5px, transparent 0.5px, transparent calc(100% - 0.5px), var(--gridcolor) calc(100% - 0.5px)), linear-gradient(90deg, var(--gridcolor) 0.5px, transparent 0.5px, transparent calc(100% - 0.5px), var(--gridcolor) calc(100% - 0.5px));
}

:root{
    --accent: rgb(96, 138, 157);
    --lightaccent: rgb(143, 194, 218);
    --reg: black;
    --gridcolor: #242424;
    --h1: 47.78px;
    --h2: 39.81px;
    --h3:33.18px;
    --h4:27.65px;
    --h5:23.04px;
    --h6:19.2px;
    --p:16px;
    --small:13.33px;
    --comment:11.11px;
    --colorturnpoint:.425;
}
@keyframes bg{
    0%{
        background-color: white;
        --reg:black;
        --gridcolor:white;
    }
    100%{
        background-color:black;
        --reg:white;
        --gridcolor: #242424
    }
}

@keyframes bgreverse{
    0%{
        background-color: black;
        --reg:white;
        --gridcolor: #242424;
    }
    100%{
        background-color:white;
        --reg:black;
        --gridcolor:white;
    }
}
.header{
    min-height: 150vh;
    width: 100%;
    background-position:center;
    background-size:cover;
    position:relative;
}

.linkhover:hover{
    cursor: url(images/cursor/cursorselectaccent.svg) -10 -10, pointer;
}

/*NAVIGATION*/

nav{
    display:flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    position:sticky;
}
nav img{
    width: 80px;
    transition: transform .3s ease-in-out;
}
nav img:hover {
    transform: rotate(-30deg);
}
.nav-links{
    flex: 1;
    text-align:right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    font-family: "degular", sans-serif;
    font-weight:500;
    color: var(--reg);
    text-decoration: none;
    font-size: var(--h6);
    transition: .3s;
}
.currentpage{
    color:var(--accent);
    text-decoration:underline dotted;
}
.nav-links ul li a:hover{
    font-family: "degular", sans-serif;
    font-weight:500;
    color: var(--accent);
    text-decoration: none;
}

/*TEXT BOX*/

.text-box{
    width: 30%;
    color: var(--reg);
    position: sticky;
    top: 5%;
    text-align:left;
    padding-left:100px;
    padding-top: 30px;
    padding-bottom:100px;
}
.text-box h1{
    font-size:var(--h1);
    font-family: "Degular-text", sans-serif;
    font-weight: 500;
}
.text-box p{
    margin: 30px 0 50px;
    font-family: "degular-text", sans-serif;
    font-weight: 500;
    font-size: var(--p);
    color: var(--reg);
}
.h-emphasis{
    font-size: calc(var(--h1) + 3px);
    font-family:"amandine", sans-serif;
    font-weight: 400;
    font-style: italic;
    text-decoration:none;
}
.h-emphasis-link{
    font-size: calc(var(--h1) + 3px);
    color:var(--reg);
    font-family:"amandine", sans-serif;
    font-weight: 400;
    font-style: italic;
    text-decoration:none;
}
.h-emphasis-link:hover{
    font-size: calc(var(--h1) + 3px);
    color:var(--accent);
    font-family:"amandine", sans-serif;
    font-weight: 400;
    font-style: italic;
    text-decoration:underline wavy;
    text-decoration-thickness:2px;
}
.p-emphasis{
    font-size: calc((var(--p) + 3px));
    font-family:"amandine", sans-serif;
    font-weight: 400;
    font-style: italic;
}
.fa-long-arrow-right{
    margin-left:10px;
    transition:.2s ease-in-out;
    color: var(--accent);
}
.fa-long-arrow-right:hover{
    margin-left:20px;
    transform: rotate(-10deg);
}
nav .fa{
    display: none;
}

/*PORTFOLIO GALLERY*/
    /*Outer Box*/
.PortGal{
    width:45%;
    color:var(--reg);
    position:absolute;
    top:10%;
    left:40%;
    text-align:left;
    padding:50px;
    margin:50px;
    text-decoration:none;
}
.columns{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items:center;
    row-gap: 48px;
    flex-direction: row; 
    text-decoration:none;
}
    /*Individual Box*/
.projecthome {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    text-decoration:none;
    color:var(--reg);
}

.projecthome:hover{
    color:var(--accent);
}
    /*Box Sizes*/
.hundred{
    display: flex;
    flex-direction: column;
    text-decoration:none;
    
}
.sixty{
    width: 58%;
}

.forty{
    width:38%;
    text-decoration:none;
    vertical-align: center;
}
    /*Fonts*/
.PortGal sub{
    display:block;
    font-family: "Degular-text", sans-serif;
    font-weight:500;
    text-decoration: none;
    font-size: var(--p);
}
.PortGal p{
    display:block;
    font-family: "Degular-text", sans-serif;
    font-weight:500;
    text-decoration: none;
    font-size: var(--small);
}

.PortGal h3{
    font-size: calc(var(--h4) + 3px);
    font-family: "amandine", sans-serif;
    font-weight: 400;
    font-style: italic;
    margin-top: 20px;
    margin-bottom:20px;
}

img{
    width:100%;
}
.background2{
    color:white;
    min-height:200vh;
    max-width:100vw;
    background-position:center;
    position:relative;
    background-size:cover;
}
.misc{
    max-width:100vw;
    position:relative;
    top:0;
    left:0%;
    text-align:left;
    padding-left:100px;
    padding-right:100px;
    text-decoration:none;
}
.miscimages{
    width:25vw;
    position:absolute;
    max-height:min-content;
}
.miscimages:hover{
    cursor:url(images/cursor/cursormoveaccent.svg) -10 -10, move;
}
.miscimages img{
    outline:solid 1px white;
    display:block;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}
.misc p{
    position: absolute;
    font-family: "degular-text", sans-serif;
    font-weight: 500;
    font-size: var(--p);
    width:25vw;
    outline:solid 1px white;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}

.pos1{
    top:-35vh;
    left:40vw;
}

.pos2{
    top:-10vh;
    left: 63vw;
}
.pos3{
    top:10vh;
    left: 35vw;
}
.pos4{
    top:30vh;
    left: 72vw;
}
.pos5{
    top:60vh;
    left: 40vw;
}
.pos6{
    top:62vh;
    left: 67vw;
}
.pos7{
    top:10vh;
    left:5vw;
}
.pos8{
    top:70vh;
    left:10vw;
}
.pos9{
    top:103vh;
    left:20vw;
}
.pos10{
    top:100vh;
    left:71vw;
}
.text-box2{
    width: 30%;
    color: var(--lightaccent);
    position: relative;
    top: 0%;
    text-align:left;
    padding-left:100px;
}
.text-box2 h2{
    margin-bottom:30px;
    font-size:var(--h2);
    font-family: "Degular-text", sans-serif;
    font-weight: 500;
    color: var(--lightaccent);
}
.text-box2 .h2-emphasis{
    font-size: calc(var(--h2) + 3px);
    font-family:"amandine", sans-serif;
    font-weight: 400;
    font-style: italic;
    text-decoration:none;
}
.text-box2 p{
    margin-bottom:30px;
    font-family: "degular-text", sans-serif;
    font-weight: 500;
    font-size: var(--p);
    color: var(--reg);
}

.footer{
    margin: 30px;
    font-family: "degular-text", sans-serif;
    font-weight: 500;
    font-size: var(--p);
    color: var(--reg);
    width:auto;
}
.footerlink{
    font-style:italic;
    color: var(--reg);
    text-decoration:none;
}
.footerlink:hover{
    color: var(--lightaccent);
    text-decoration:underline wavy;
    text-decoration-thickness:2px;
}
.footerlink2{
    font-style:italic;
    color: var(--reg);
    text-decoration:none;
}
.footerlink2:hover{
    color: var(--lightaccent);
    text-decoration:underline wavy;
    text-decoration-thickness:2px;
    cursor:pointer;
}
/*ABOUT PAGE*/
.aboutcontainer{
    display:flex;
    flex-direction:row;
    padding:100px;
    padding-top:0px;
}
.aboutimage{
    margin:100px;
    width:60%;
    margin-right:0;
}
.aboutparagraph{
    width:60vw;
    margin:100px;
}
.aboutparagraph h2{
    font-size:var(--h2);
    font-family: "Degular-text", sans-serif;
    font-weight: 500;
    color: var(--reg);
    margin-bottom:30px;
}
.aboutparagraph p{
    font-size:var(--p);
    font-family: "Degular-text", sans-serif;
    font-weight: 500;
    color: var(--reg);
    padding-left:2px;
}
.h2-emphasis{
    font-size: calc(var(--h2) + 3px);
    font-family:"amandine", sans-serif;
    font-weight: 400;
    font-style: italic;
    text-decoration:none;
}
.h2-emphasis-link{
    font-size: calc(var(--h2) + 3px);
    color:var(--reg);
    font-family:"amandine", sans-serif;
    font-weight: 400;
    font-style: italic;
    text-decoration:none;
}
.h2-emphasis-link:hover{
    font-size: calc(var(--h2) + 3px);
    color:var(--accent);
    font-family:"amandine", sans-serif;
    font-weight: 400;
    font-style: italic;
    text-decoration:underline wavy;
    text-decoration-thickness:2px;
}
.aboutparagraph h6{
    font-size:var(--h6);
    font-family: "Degular-text", sans-serif;
    font-weight: 700;
    color: var(--lightaccent);
    padding-left:2px;
}
.aboutparagraph .footerlink{
    color:var(--accent);
}

.titletextbox{
    color:var(--reg);
    margin-top:20px;
}
.titletextbox .leftside{
    margin-top:65px;
    color:var(--accent);
}
.titletextbox .leftside p span:hover{
    text-decoration:underline wavy;
    color:var(--lightaccent);
    cursor:pointer;
}
.leftside{
    width:20vw;
    padding-left: 100px;
    color:var(--reg);
}
.rightpart{
    width:80vw;
    height:fit-content;
}
.rightpart img{
    margin: 50px;
    width: 72vw;
}
.rightside{
    display:flex;
    flex-direction:row;
}
.photosflex{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    width:72vw;
    margin:50px;
    column-gap:15px;
}
.photosflex div{
    flex: 1 1 0;
    object-fit:contain;
}
.photosflex div img{
    object-fit:contain;
    width: 100%;
    margin:0px;
}
.textspace{
    width:30vw;
    padding-left:50px;
    padding-right:50px;
}
.otherspace{
    width:45vw;
    display:flex;
    flex-direction:row;
    align-items:end;
    padding-left:50px;
    padding-right:50px;
    justify-content:left;
    column-gap:75px;
}
.otherspace img{
    width:35vw;
}
.rightleft{
    display:flex;
    flex-direction:row;
}
.rightleft h1{
    font-size:var(--h1);
    font-family: "Degular-text", sans-serif;
    font-weight: 700;
    margin-top:15px;
    margin-bottom:15px;
}
.rightleft p{
    font-size:var(--p);
    font-family: "Degular-text", sans-serif;
    font-weight: 500;
    margin-top:15px;
    margin-bottom:15px;
}
.rightleft h3{
    font-size:var(--h3);
    font-family: "Degular-text", sans-serif;
    font-weight: 500;
    margin-top:15px;
    margin-bottom:15px;
}
.divider{
    border-top:1px var(--accent) dashed;
    border-bottom:1px var(--accent) dashed;
    font-size:var(--h3);
    font-family: "amandine", sans-serif;
    font-weight: 400;
    font-style:italic;
    padding-top:15px;
    padding-bottom:15px;
    text-align:center;
    margin-top:30px;
    margin-bottom:30px;
    color:var(--accent);
}
/* Slideshow container */
.slideshow-container {
    width:72vw;
    position: relative;
    margin-left:50px;
  }
.slideshow-container img{
    margin:0px;
    border-radius: 10px;
    border:1px black solid;
}
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: var(--accent);
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--lightaccent);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: var(--accent);
  }

#loadOverlay{display: none;}
/*MOBILE ADJUSTMENTS*/
@media(max-width: 1025px){
    *{
        overflow-x: clip;
        --colorturnpoint:.52;
        --gridcolor: #161616;
    }
    @media(max-width:539px){
        *{
            --colorturnpoint:.6;
        }
    }
    .wholepagedark{
        animation: bg .5s ease-in;
        animation-iteration-count:1;
        animation-fill-mode:both;
        background-size:5% .5%;
        background-image: linear-gradient(var(--gridcolor) 0.5px, transparent 0.5px, transparent calc(100% - 0.5px), var(--gridcolor) calc(100% - 0.5px)), linear-gradient(90deg, var(--gridcolor) 0.5px, transparent 0.5px, transparent calc(100% - 0.5px), var(--gridcolor) calc(100% - 0.5px));
    }
    
    .wholepagelight{
        animation:bgreverse .5s ease-out;
        animation-iteration-count:1;
        animation-fill-mode:both;
        background-size:5% .5%;
        background-image: linear-gradient(var(--gridcolor) 0.5px, transparent 0.5px, transparent calc(100% - 0.5px), var(--gridcolor) calc(100% - 0.5px)), linear-gradient(90deg, var(--gridcolor) 0.5px, transparent 0.5px, transparent calc(100% - 0.5px), var(--gridcolor) calc(100% - 0.5px));
    }
    hr{
        display:none;
    }
    .nav{
        position:sticky;
    }
    .nav-links ul li a{
        display: block;
        font-size:var(--h3);
        font-weight:700;
    }
    .nav-links{
        position:absolute;
        background-color:white;
        background-size: cover;
        border-style:solid;
        border-color:var(--reg);
        border-width:1px;
        height:100vh;
        width:80vw;
        top:0;
        right:-100vw;
        z-index:1;
        opacity: 1;
        transition:.5s;
    }    
    nav .fa{
        display: inline-flex;
        color: var(--reg);
        margin:10px;
        font-size: var(--h3);
    }
    nav .fa-times{
        margin:30px;
    }
    .nav-links ul{
        padding-left: 15px;
        width:40vw;
        background-image:white;
        text-align:left;
    }
    .fixed-position{
        overflow:hidden;
        touch-action:none;
    }
    .text-box{
        width: 90%;
        position: static;
        text-align:left;
        padding:20px;
    }
    .text-box h1{
        font-size:var(--h2);
        font-family: "Degular-text", sans-serif;
        font-weight: 500;
    }
    .text-box p{
        margin: 30px 0 50px;
        font-family: "degular-text", sans-serif;
        font-weight: 500;
        font-size: var(--p);
        color: var(--reg);
    }
    .h-emphasis{
        font-size: calc(var(--h2));
        font-family:"amandine", sans-serif;
        font-weight: 400;
        font-style: italic;
    }
    .p-emphasis{
        font-size: calc(var(--p));
        font-family:"amandine", sans-serif;
        font-weight: 400;
        font-style: italic;
    }
    .header{
        min-height:10vh;
    }
    .fa-long-arrow-right{
        display:none;
        color:white;
    }
    .fa-long-arrow-right:hover{
        display:none;
    }
    /*PORTFOLIO GALLERY*/
        /*Outer Box*/
    .PortGal{
        width:90vw;
        position:static;
        text-align:left;
        padding:10px;
        text-decoration:none;
        left: 0%;
        top: 0%;
        margin: 10px;
        display: flex;
    }
    .columns{
        display: flex;
        flex-wrap:wrap;
        justify-content: space-between;
        row-gap: 25px;
        flex-direction: column; 
        text-decoration:none;
    }
        /*Individual Box*/
    .projecthome {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-decoration:none;
        color:var(--reg);
        align-items: center;
        justify-items: 10px;
        padding-top:15px;
        padding-bottom:15px;
        border-radius:5px;
        border:var(--lightaccent) solid 1px;
    }
    .projecthome:hover{
        color:var(--accent);
    }
        /*Box Sizes*/
    .hundred{
        flex-direction: column;
        text-decoration:none;
        
    }
    .sixty{
        width: 90%;
    }

    .forty{
        width:90%;
        text-decoration:none;
        vertical-align: center;
    }
        /*Fonts*/
    .PortGal sub{
        display:block;
        font-family: "Degular-text", sans-serif;
        font-weight:500;
        text-decoration: none;
        font-size: var(--p);
    }
    .PortGal p{
        display:block;
        font-family: "Degular-text", sans-serif;
        font-weight:500;
        text-decoration: none;
        font-size: var(--p);
        margin-top:20px;
    }

    .PortGal h3{
        font-size:var(--h4);
        font-family: "amandine", sans-serif;
        font-weight: 400;
        font-style: italic;
        margin-top: 20px;
        margin-bottom:20px;
    }

    img{
        width:100%;
    }
    .text-box2{
        width: 90%;
        position: static;
        text-align:left;
        padding:20px;
    }
    .footer{
        height:15vh;
    }
    .misc{
        position:static;
        display:flex;
        flex-direction: row;
        row-gap: 3.3vw;
        flex-wrap: wrap;
        justify-content: center;
        width: 100vw;
        max-height: min-content;
        align-content: center;
        column-gap: 3.3vw;
        padding-left:0px;
        padding-right:0px;
    }
    .miscimages{
        position:static;
        display:flex;
        flex-wrap:wrap;
        flex-direction:row;
        width:45vw;
        align-self: center;
    }
    .misc p{
        position: static;
        width:45vw;
        border: solid 1px white;
        outline: none;
    }
    .miscimages img{
        outline:none;
        display:flex;
        width:45vw;
        border-top-left-radius:5px;
        border-top-right-radius:5px;
        justify-content:center;
        flex-wrap:wrap;
        border:solid 1px white;
    }
    .miscimages img:hover{
        scale:200%;
        position: absolute;
        left:50%;
        transform:translateX(-25%);
    }
    .hideonmobile{
        display:none;
    }
    .aboutcontainer{
        padding:5px;
        padding-top:0px;
        flex-direction:column;
        align-items:center;
    }
    .aboutimage{
        margin:10px;
        margin-top:80px;
        margin-bottom:30px;
        width:90%;
        height:40vh;
    }
    .aboutimage img{
        height:40vh;
        object-fit:cover;
    }
    .aboutparagraph{
        width:90vw;
        margin-top:30px;
        margin:10px;
        margin-bottom:100px;
    }
    .aboutparagraph h2{
        font-size:var(--h3);
    }
    .h2-emphasis{
        font-size: calc(var(--h3));
    }
    .h2-emphasis-link{
        font-size: calc(var(--h3));
    }
    .h2-emphasis-link:hover{
        font-size: calc(var(--h3));
    }
    .de-emphasize{
        color:var(--lightaccent);
    }
}